<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @track.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @track.credits %>
</p>

<p>
  <strong>Available:</strong>
  <%= @track.available %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
