<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Permalink</th>
      <th>Formed at</th>
      <th>Verified</th>
      <th>Verified at</th>
      <th>Avatar</th>
      <th>Cover photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.permalink %></td>
        <td><%= artist.formed_at %></td>
        <td><%= artist.verified %></td>
        <td><%= artist.verified_at %></td>
        <td><%= artist.avatar %></td>
        <td><%= artist.cover_photo %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
